div.greetings {
    color:#ccc;
    font-size: 12px;
    padding-bottom: 5px;
}

span.userName {
    font-style: italic;
}

.link {
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: bold;
}