@import '../../styles/variables';

div.searchBarMenu {
    position: absolute;
    top: $km-topbarMenu-height-mobile!important;
    left: 0rem;
    right: 0rem;
    height: $km-searchbar-height;
    z-index: 1;
}

div.searchItem {
    flex-grow: 1!important;    
}

button.searchButton {
    padding-left: 1em!important;
    padding-right: 1em!important;
}