div.topMenu {
    margin-top: 0em!important;
}

img.logo {
    height: 60px;
}

div.title {
    padding-left: 10px!important;
    padding-right: 10px!important;
}

div.searchItem {
    flex-grow: 1!important;    
}

button.searchButton {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
}