div.card {

    div:global(.ui.label.floating.tag) {
        top: 1rem;
        left: 1.25rem;
    }    

}

div.card:first-child {
    margin-top: 1em!important;
}

div.card:last-child {
    margin-bottom: 1em!important;
}

a.author {
    display: inline-block;
    margin-top: 0.25rem;

    i {
        margin-right: 0.5rem!important;
    }
}

div.bottomBar {
    padding: 0.5rem 1rem!important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.bottomBar::after {
    display: none!important;
}