@import '../../../../styles/variables';

%label {
    color: white!important;
}

div.easy {
    @extend %label;
    background-color: $easy-color!important;
}

div.medium {
    @extend %label;
    background-color: $medium-color!important;
}

div.hard {
    @extend %label;
    background-color: $hard-color!important;
}