@import '../../../styles/variables';
@import '../../../styles/styles';

div.container {
    @extend %whitePageContainer;
}

div.emptyMenu {
    padding: 2rem;
    text-align: center;
}

div.checkout {
    width: 100%;
    text-align: center;
}