div.label {
    padding-top: 0!important;
    padding-bottom: 0!important;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    font-size: 1.2rem;
    min-width: 7.5rem;
    color: white!important;
    background-color: #2185d0!important;
}

div.row {
    border: 0!important;
}

div.group {
    flex-wrap: nowrap!important;
}