{
  "presets": ["@babel/env", "@babel/preset-react"],
  "plugins": [
    "react-hot-loader/babel", 
    ["react-css-modules", {
      "webpackHotModuleReloading": true,
      "autoResolveMultipleImports": true
    }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}