%difficultyButton {
    margin: 0rem!important;
    width: 4.5rem;
    padding-left: 0rem!important;
    padding-right: 0rem!important;
    color: white!important;
}

%difficultyButton:hover {
    // color: white!important;
}

button.easy {
    @extend %difficultyButton;
    // color: white!important;
    background-color: #5c9e46!important;
}

button.easyUnselected {
    @extend %difficultyButton;
    cursor: not-allowed;
    pointer-events: none;
    background-color: lighten($color: #5c9e46, $amount: 45%)!important;
}

// button.easy:hover {
//     background-color: #5c9e46!important;
// }

button.medium {    
    @extend %difficultyButton;
    background-color: #ef901c!important;
}

button.medium:hover {
}

button.hard {    
    @extend %difficultyButton;
    background-color: #eb6b2a!important;
}

button.hard:hover {
}
